input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.TimeToMovie {
  &__cont{
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    margin-top:20px;
  }
}

.Selector {
  &__cont {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > form{
      margin-top: 10px;
      & > input,
      button  {
        font-size: 16px;
        padding:10px;
        outline: none;
      }
    }
  }

  &__imgCont {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    max-width: 780px;
  }

  &__img{
    border: 2px solid rgba(255,255,255,0.1);
    width: 130px;
    background-color: rgba(255,255,255,0.1);
    margin: 5px;
    padding: 5px;
  }
}

.graphic{
  &__cont{
    border: 1px solid blue;
    max-width:800px;
    height: 600px;
    max-height: 600px;
  }
}